<head>
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="../chat_styles.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js" defer></script>
  <!-- <script src = "http://yourwebsite.com:12345/socket.io/socket.io.js" defer></script> -->
  <script type="module" src="../chat.js" defer></script>
  <title>Chat Lounge</title>


</head>

<body style="background-color: #11100F;">
  <div id = "mee">
    Contacts
    <button id="addContact" style = "background-color: #2a2f32;">
      <?xml version="1.0" encoding="iso-8859-1"?>
      <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 42 42" style="enable-background:new 0 0 42 42; fill:rgba(241,241,242,0.92); background-color: #2a2f32;width: 22;left: 12vw;fill: whitesmoke;" xml:space="preserve">
      <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 "/>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      </svg>
      


    </button>
    </div>
  <!-- <div style="display: flex; flex-direction: row;position: absolute;left: 250px;"> -->



    <!-- <button id="uid">
      uid

    </button> -->
    
    


  <!-- </div> -->
  <div class="contacts">

    <div id="messageArea" id="journal-scroll">
      <ul class=" " id="contacts"style="position: relative;">

      </ul>
    </div>
    





  </div>





  <div id="messageBox">

  </div>
  <div id="inputPlace" style='display: none;
  z-index: 100;
  width: 65vw;
  position: absolute;
  right: 20px;
  bottom: 10px;'>
    <input type="text" placeholder="Type a message..." id="typemsg">


    <div>
      <button id="message">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495.003 495.003"
          style="enable-background:new 0 0 495.003 495.003;" xml:space="preserve">
          <g id="XMLID_51_">
            <path id="XMLID_53_" style="fill: #056162" d="M164.711,456.687c0,2.966,1.647,5.686,4.266,7.072c2.617,1.385,5.799,1.207,8.245-0.468l55.09-37.616
          l-67.6-32.22V456.687z" />
            <path id="XMLID_52_" style="fill: #056162" d="M492.431,32.443c-1.513-1.395-3.466-2.125-5.44-2.125c-1.19,0-2.377,0.264-3.5,0.816L7.905,264.422
          c-4.861,2.389-7.937,7.353-7.904,12.783c0.033,5.423,3.161,10.353,8.057,12.689l125.342,59.724l250.62-205.99L164.455,364.414
          l156.145,74.4c1.918,0.919,4.012,1.376,6.084,1.376c1.768,0,3.519-0.322,5.186-0.977c3.637-1.438,6.527-4.318,7.97-7.956
          L494.436,41.257C495.66,38.188,494.862,34.679,492.431,32.443z" />
          </g>
        </svg>

      </button>
    </div>


  </div>





  <div id="room_id" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display:none">


    <div class="room_id3">
      <div class="room_id4">

        <div class="room-id5">
          <h3>
            Add Contact
          </h3>
          <div style="margin-top: 0.5rem;display: flex;">
            <p id="copyRoomId">
              <input id="names" placeholder="Name" />
              
              <br>
              <input id="uid" placeholder="uid" />
            </p>
            <br>
            <button style="margin-left: 10px;" id="enter">
              enter
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <a href="/sessionLogout">
    <svg class="svgs" style="position: absolute;right: 5px;top: 5px; z-index: 100;" xmlns="http://www.w3.org/2000/svg"
      enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
      <g>
        <path d="M0,0h24v24H0V0z" fill="none" />
      </g>
      <g>
        <path
          d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z" />
      </g>
    </svg>
  </a>

  

</body>


</html>