 #messageBox {
  z-index: 2;
  box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
  width: 67.5vw;
  height: 100vh;
  position: absolute;
  right: 20px;
  bottom: 0px;
  background-color: #0d1418;    
    
}
  #addContact{
    z-index: 2;
    box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
    width: 30vw;
    height: 8vh;
    background-color: #2a2f32;
    color: rgba(241,241,242,0.92);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    padding-left: 1vw;
    padding-top: 8px;
  }
  #uid{
    color: #f1f1f2;
    height: auto;
    width: 100%;
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: #33383b;
    border: 1px solid #33383b;
    border-radius: 21px;
  }
  #names{
    color: #f1f1f2;
    height: auto;
    width: 100%;
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: #33383b;
    border: 1px solid #33383b;
    border-radius: 21px;
  }
  .names{
    font: inherit;
    font-size: 105%;
    color: rgba(241,241,242,0.92);
  }
  .times{
    position: absolute;
    right: 5px;
    font-size: 15px;
    color: rgba(241,241,242,0.63);
    margin-left: 20vw;
    top: 20px;
    margin-top: 10px;
    font-size: 12px;
  }
  .lastmessage{
    font-size: 14px;
    font-weight: 400;
    color: rgba(241,241,242,0.8);
    max-width: 18vw;
    width: auto;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow-x: hidden;
    /* left: -6.5vw; */
    /* position: relative; */
    padding: 0;
    margin: 0;
    
  
  }
  .but{
    width: 100%;
    background-color: #131c21;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 11.5vh;
    pointer-events: all;
    padding: 0px 20px 5px 10px;
    border-block-color: grey;
    border-bottom-width: 1px;
    border-bottom-left-radius: revert;
  }
  li{
    color: white;
    background-color: #131c21;
    margin: 3px;
  }
  .contacts{
    z-index: 2;
    box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
    width: 31vw;
    height: 91vh;
    position: absolute;
    /* left: 10px; */
    bottom: 0px;
    background-color: #131c21;
    overflow: auto;


  }
  .allcontacts{
    z-index: 2;
    box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
    width: 30vw;
    height: 90vh;
    position: absolute;
    left: 35vw;
    bottom: 5vh;
    background-color: #131c21;
    overflow: auto;


  }

  .messageArea {
    overflow: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    height: 88vh;

  }
li {
  color: white;
    background-color: blue;
    margin: 3px;
}
  #inputPlace {
    
      

    font-size: 15px;
    display: flex;
    z-index: 100;
    width: 65vw;
    position: absolute;
    right: 20px;
    bottom: 10px;

    height: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;

  }
#mee{
  z-index: 2;
  box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
  width: 31vw;
  height: 9vh;
  position: absolute;
  /* left: 10px; */
  top: 0px;
  background-color: #2a2f32;
  /* overflow: auto; */
  padding: 10px 16px;
  color: rgba(241,241,242,0.92);
  font-size: 22px;
  /* padding-right: 20px; */
  font-weight: 400;
  align-items: center;
  display: flex;
}
.imagestyle{
  width: 3vw;
  height: 3vw;
  border-radius: 20vw;
  margin-right: 2vw;
  box-shadow: 3px 3px 5px #0c1216;
}
.imagestylecont{
  width: 49px;
  height: 49px;
  border-radius: 20vw;
  margin-right: 2vw;
  margin-top: 1vh;
  box-shadow: 3px 3px 5px #0c1216;
}
#topname{
  z-index: 2;
    box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
    width: 67.5vw;
    height: 9vh;
    position: absolute;
    /* left: 32.5; */
    top: 0px;
    background-color: #2a2f32;
    /* overflow: auto; */
    padding: 10px 16px;
    color: rgba(241,241,242,0.92);
    font-size: 17px;
    /* padding-right: 20px; */
    font-weight: 500;
    align-items: center;
    display: flex;
}

  #typemsg {
    
    color: #f1f1f2;
    height: auto;
    width: 100%;
    /* height:7.65vh; */
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: #33383b;
    border: 1px solid #33383b;
    border-radius: 21px;
  }

  #typemsg::placeholder {
    color: darkgray;
  }

  #typemsg:focus {
    outline: none;
  }

  #message {
    border-radius: 9999px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: small;
    margin: 0px 10px;
  }

  #message:focus {
    outline: none;
  }

  #message:hover {
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));

  }

  .page {
    display: flex;
    flex-direction: row;
  }

  video {


    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.4);
    background: #1B1A1A;
    animation: show 0.4s ease;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
   
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 375px;
    margin-top: 50px;
    -moz-transform: rotateY(180deg);


  }
  

  

  #joinRoom {
    width: 500px;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    background-color: #6264a7;
    color: white;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 20;


  }
  .bottomIcons {
    display: flex;
  width: 100%;
  justify-content: left;
  position: absolute;
  top: 385;
  z-index: 0;
  padding-left: 200px;
  }

  .svgs {
    margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 9999px;
  padding: 0.5rem;
  height: 35px;
  width: 35px;
  z-index: 1;
  fill: white;
  /* background-color: #1B1A1A; */
  transition: all 0.2s ease;
  box-shadow: rgba(30, 30, 30, 0.75) 0px 0px 20px -2px;

  }

  .svgs:hover {
    background-color: rgb(40, 40, 40);
  }

  
  #room_id {
  
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgba(42, 62, 72, 0.75);
   
    width: 100vw;
    height: 100vh;


  }




  .room_id3 {

    border-radius: 0.5rem;

    width: 40%;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .room_id4 {
    background-color: #131c21;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
    border-radius: 20px;
    padding-bottom: 1rem;
    color: whitesmoke;
    box-shadow: rgb(30 30 30 / 75%) 0px 0px 20px -2px;
  }

  .room_id5 {
    margin-top: 0.75rem;
    text-align: center;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgba(17, 24, 39, 1);
  }

  #copyRoomId {

    color: rgba(17, 24, 39, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }


  #close_room {
    
    position: absolute;
    top: 7.7vh;
    right: 81vh;
    z-index: 3;


  }

 
  .receive{
    display: flex;
    justify-content: start;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 0.5rem;
  }
  .sent{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
  }
  .receive1{
    background-color: #262d31;
    height: auto;
    border-radius: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
    max-width: 40rem;
    width: auto;
    position: relative;
    border-radius: 7.5px;
    position: relative;
    flex: none;
    font-size: small;
    line-height: 19px;
    box-shadow: 0 1px 0.5px rgb(0 0 0 / 13%);
    color: rgba(241,241,242,0.95);

  }
  .mm
  {
    padding-right: 22px;
    margin: 0px 10px;
    font-size: small;
  }
  .sent1{
    background-color: #056162;
    box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
    height: auto;
    border-radius: 0.125rem;
    padding: 0.25rem;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
    max-width: 40rem;
    width: auto;
    font-size: small;
    word-break: break-all;
    justify-content: end;
    border-radius: 7.5px;
    color: whitesmoke;
    position: relative;
    

  }
  .receiveMessage{
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 6px 6px 6px;
    box-sizing: border-box;
  }
  .name{
    padding-left: 0.25rem;
    font-weight: 600;
    font-size: 14px;
    color: #6264a7;
  }
  .message{
    
    text-overflow: clip;
    width: auto;
    margin-right: 5px;
    word-break: break-all;
    padding-right: 20px;
    font-size: medium;
  }
  .top{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-weight: 400;
    
  }
  .time{
    color: rgba(241,241,242,0.63);
    padding-left: 0.25rem;
    position: absolute;
    right: 2px;
   
    float: right;
    height: 15px;
    font-size: smaller;
    white-space: nowrap;
    line-height: 15px;
    margin: -10px 4px 0px 4px;
  }
  .senttime{
    color:lightgray;
  padding-left: 0.25rem;
  font-size: smaller;
  
  position: absolute;
  right: 2px;
  bottom: 0px;
  }
  

  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
 
  
  .time-right {
    float: right;
    color: #aaa;
  }
  

  .time-left {
    float: left;
    color: #999;
  } 
  
  .datee{
    display: flex;
    justify-content: center;
  }
  .datee1{
    background-color: #1e2a30;
    color: whitesmoke;
    width: auto;
    font-size: small;
    padding: 0.7vh;
    border-radius: 1.5vh;
    margin: 1vh;
  }

  #search{
    color: #f1f1f2;
    height: auto;
    width: 100%;
    height: 6vh;
    padding: 9px 12px 11px;
    margin: 5px 5px;
    background-color: #33383b;
    border: 1px solid #33383b;
    border-radius: 21px;
  }
  #in
  {
    z-index: 9;
    width: 29vw;
    height: 7vh;
    font-size: 15px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    align-items: center;
  }
  #close_rooma:hover {
    background-color: none;
  }