.div2 {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #1b1a1a;
    width: 36vw;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-left: 32vw;
    margin-top: 20vh;
}

.welcome {
    font-size: 1.1rem;
    line-height: 2.25rem;
    font-weight: 640;
    color: #1dbba9;
    
    text-shadow: 3px 3px 5px #0d1418;
  
    background-color: #183e3a;
    border-radius: 200px;
    padding: 0px 50px 0px 50px;
   
    margin: 10px;
}

.div3 {
    text-align: center;
    width: 100%;
    background-color: #404285;
    border-radius: 0.375rem;
    color: whitesmoke;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.div4 {
    width: 100%;
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: #333333;
    background-color: whitesmoke;
    margin-top: 00.25rem;
    border-radius: 0.375rem;
}

input {
    width: 100%;
    height: 3rem;
    background-color: whitesmoke;
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
#createRoom{
    margin-top: 2rem;
}

.svgs {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 9999px;
    padding: 6px;
    height: 40px;
    width: 40px;
    z-index: 1;
    
    background-color: floralwhite;
    transition: all 0.2s ease;
    box-shadow: rgba(30, 30, 30, 0.75) 0px 0px 20px -2px;


  }